.chart{
    flex: 5;
    border: 1px solid black;
    box-shadow: 19px 15px 0px -9px rgba(66,66,66,0.75);
    -webkit-box-shadow: 19px 15px 0px -9px rgba(66,66,66,0.75);
    -moz-box-shadow: 19px 15px 0px -9px rgba(66,66,66,0.75);
    height: 100px;
}